alabaster==0.7.11
appnope==0.1.0
argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.8.1
docopt==0.6.2
docutils==0.14
en-core-web-sm==2.0.0
Flask==1.0.2
Flask-Cors==3.0.6
idna==2.7
imagesize==1.0.0
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
livereload==2.4.1
MarkupSafe==1.0
more-itertools==4.2.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
numpy==1.14.5
packaging==17.1
parso==0.2.1
pathlib==1.0.1
pathtools==0.1.2
pexpect==4.6.0
pickleshare==0.7.4
plac==0.9.6
pluggy==0.6.0
port-for==0.3.1
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
Pygments==2.2.0
pymongo==3.6.1
pyparsing==2.2.0
pytest==3.6.2
pytest-watch==4.2.0
pytz==2018.4
PyYAML==3.12
regex==2017.4.5
requests==2.19.1
scikit-learn==0.19.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
spacy==2.0.11
Sphinx==1.7.5
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
ujson==1.35
urllib3==1.23
watchdog==0.8.3
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
